.grid-container {
  margin: 1% auto;
}

.grid {
  white-space: pre;
}

button {
  margin: 2px;
}

.buttons {
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}